* {
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(177, 59, 177);
    margin-bottom:10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #333;
}
    
header {
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
    

}

.main-header p {
    color: #fff;
    padding: 30px;
    margin-top: 10px;
}



.card {
    display: inline-block;
    width: 315px;
    height: 300px;
    border-style: dashed;
    border-width: 1px;
    border-color: antiquewhite;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    
}


.card .card-header {
    font-size: 16px;
    font-weight: bold;
    width: 250px;
    height: 35px;
    margin-top: -25px;
    margin-left: 15px;
    border-style: solid;
    border-color: antiquewhite;
    color: rgb(177, 59, 177);
    border-radius: 8px;

}

.card .card-header:hover {
    box-shadow: : inset 0px 0px 8px
    rgba(232, 102, 236, 1), 0 0 15px;
    rgba(232, 102, 246, 1);
}

.card p {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(177, 59, 177);
}

.snippet {
    font-size: 14px;
    margin-top: 30px;
    background-color: rgb(177, 59, 177);
    height:200px;
    color: #fff;
    border-radius: 8px;   
}

@media screen and (max-width: 992px) {
    .card {
        width: 50%
    }
}